.sync input {
    margin-top: 1rem;
}

.sync input[type=range]::-webkit-slider-thumb {
    background-color: var(--primary);
    height: 50px;
    width: 50px;
    margin-top: -15px;
}

.sync input[type=range]::-webkit-slider-thumb:active {
    background-color: var(--primary);
    height: 50px;
    width: 50px;
    margin-top: -15px;
}

.sync input[type=range]::-webkit-slider-runnable-track {
    height: 20px;
    background-color: var(--dark);
}