.lyrics {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000 !important;
    color: #fff;
}

.lyrics::before {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    opacity: .1;
    content: "";
    background: var(--image);
    background-size: cover;
    background-position: center;
}

.previous {
    z-index: 1;
    font-size: 40px;
    opacity: .5;
    margin:0;
}

.current {
    z-index: 1;
    margin: 20px 0;
    font-size: 80px;

}

.next {
    margin:0;
    z-index: 1;
    font-size: 60px;
    opacity: .8;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #333;
}

.progressBar {
    background: #fff;
    width: var(--value);
    position: absolute;
    height: 5px;
    bottom: 0px;
}

.track {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

.copyright {
    position: fixed;
    bottom: 30px;
    right: 25px;
    opacity: .5;
    max-width: 600px;
    text-align: right;
}

.word {
    opacity: .75;
    position: relative;
    z-index: 1;
    transition: opacity .3s;
}

.word::after {
    background: rgba(255, 255, 0, 0.144);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
}

.activeWord {
    opacity: 1;
}

.activeWord::after {
    width: 100%;
    transition: width var(--timing) linear;
}